.active {
  border-bottom: 1px red solid;
}
.navIcon {
  display: block;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.bodyMargin {
  margin-top: 1%;
  width: 80%;
  margin-left: 10%;
}
