{# templates/about.html.twig #}
 {% extends "base.html.twig" %}
 {% block title %} About {% endblock %}
 {% block content %}<div class="bodyMargin"><h4>About me:</h4>
 
 <p>My name is Afshin and this is MVC course.</p>
 <div class="text-center"><img src="static/img/model.png" ></div>
 
 
 
 
 
 
 
 
 </div>{% endblock %}
