{# templates/home.html.twig #}
 {% extends "base.html.twig" %}
 {% block title %} Home {% endblock %}
 {% block content %}<div class="bodyMargin">
 
 <div class="text-center">
 <h4>
Welcome to my MVC page
</h4>
<img src="static/img/php.png" >
 </div>
 
 
 </div>{% endblock %}

