{# templates/report.html.twig #}
 {% extends "base.html.twig" %}
 {% block title %} Report {% endblock %}
 {% block content %}
 <div class="bodyMargin">
 <div><h1>Kmom01</h1></div>
 <div>
 <div><b>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</b></div>
 <p>Jag har tydigare jobbat lite med objektorientering. Jag gjorde det i javascript och python kursen. Jag gillar att jobba med functional programmering men det är bra att ha kunskap och veta hur man kan skriva kod i en class.</p>
</div>
 <div>
 <div><b>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</b></div>
 <p>Jag tycker att man ska veta först värför man använder klasse i programmering. Ett klass består av several delar. Vi har metoder (fungera typ som function) och attributer (fungera typ som variabel). Man kan delarera dem som privata eller publika. Man kan skicka parameter till ett klass för att använda dem i metoder. Man kan ha flera klasser och använda även av arv för att få metoder till exampel från andra klasser. Sen kan man call klasser där som man behöver och skapa ett object av det. </p>
</div>
 <div>
 <div><b>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</b></div>
 <p>Det var inte svårt att förstå strukturen och kodbas av symfony. Man ser att strukturen försöker följa Model–view–controller (mvc) patter. Det som hade jag lite svårt att förså var att värför man använder twig tillsammans med html. Det kan vara så att jag har missat något i övningar och därför jag fattar inte det. Annars allt gick bra med uppgiften och har inte mycket svårigheter att skapa me/report.</p>
</div>
 <div>
 <div><b>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</b></div>
 <p>Artikeln var mycket långt och jag läste bara vissa delar som jag tycket var mer intressanta. Jag läste lite om database conncetion och hur man kopplar PHP till database. (PDO Extension). Jag läste också lite om MVC och Templating hur det kan vara bra för att spridning av programmets logiken i flera delar. Jag tänker att jag kan kanske läsa lite mer om debugging delen när jag har tid för att den kan vara hjälpsam i framtiden.</p>
</div>
 <div>
 <div><b>Vilken är din TIL för detta kmom?</b></div>
 <p>Jag lärde mig grounden att använda symfony med PHP. Jag lärde mig också lite mer om klasser i PHP och hur man skapar och använder dem.</p>
</div>
</div>
 {% endblock %}